[submodule "micro-RTPS-client"]
	path = micro-RTPS-client
    url = git@github.com:eProsima/micro-RTPS-client.git
[submodule "micro-RTPS-agent"]
	path = micro-RTPS-agent
    url = git@github.com:eProsima/micro-RTPS-agent.git
