[submodule "micro-RTPS-client"]
	path = micro-RTPS-client
    url = https://github.com/eProsima/micro-RTPS-client.git
[submodule "micro-RTPS-agent"]
	path = micro-RTPS-agent
    url = https://github.com/eProsima/micro-RTPS-agent.git
