[submodule "client"]
	path = client
	url = https://github.com/eProsima/Micro-XRCE-DDS-Client.git
[submodule "agent"]
	path = agent
	url = https://github.com/eProsima/Micro-XRCE-DDS-Agent.git
[submodule "gen"]
	path = gen
	url = https://github.com/eProsima/Micro-XRCE-DDS-Gen.git
[submodule "cdr"]
	path = cdr
	url = https://github.com/eProsima/Micro-CDR.git
